name: raven
channels:
  - defaults
dependencies:
  - ca-certificates=2019.1.23=0
  - certifi=2018.11.29=py36_0
  - libedit=3.1.20181209=hc058e9b_0
  - libffi=3.2.1=hd88cf55_4
  - libgcc-ng=8.2.0=hdf63c60_1
  - libstdcxx-ng=8.2.0=hdf63c60_1
  - ncurses=6.1=he6710b0_1
  - openssl=1.1.1a=h7b6447c_0
  - pip=19.0.1=py36_0
  - python=3.6.8=h0371630_0
  - readline=7.0=h7b6447c_5
  - setuptools=40.8.0=py36_0
  - sqlite=3.26.0=h7b6447c_0
  - tk=8.6.8=hbc83047_0
  - wheel=0.32.3=py36_0
  - xz=5.2.4=h14c3975_4
  - zlib=1.2.11=h7b6447c_3
  - pip:
    - click==7.0
    - click-plugins==1.0.4
    - prompt-toolkit==1.0.14
    - pygments==2.3.1
    - pyinquirer==1.0.3
    - regex==2019.2.21
    - six==1.12.0
    - wcwidth==0.1.7
prefix: /home/carson/anaconda3/envs/raven

